<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <link rel="stylesheet" href="/css/register-styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        
        <title>principal</title>
    

    </head>
    <body>
        <div>
            <img class="imagen" src="/imagenes/imagen-register.jpg" alt="logo">

        </div>
        <form action="/register" method="Post">
            <p>
                <label for="nombre"></label>
                <input placeholder="Nombre" type="text" name="nombre" id="nombre">
            </p>
            <p>
                <label for="email"></label>
                <input placeholder="Email" type="email" name="email" id="email">
            </p>
            <p>
                <label for="Contraseña"></label>
                <input placeholder="Contraseña" type="text" name="usuario">
            </p>
            <p>       
                <label for="Confirmar Contraseña"></label>
                <input placeholder="Contraseña" type="text" name="usuario">
            </p>
            <p>
                <label for="Acepto los terminos y condiciones"></label>
                <input placeholder="Acepto los terminos y condiciones" type="text" name="usuario">
            </p>
            <p>
                <button type="submit">Enviar</button>
            </p>
        </form>
    </body>
</html>